In [2]:
# create a list with three food 
food = ['pizza', 'pasta', 'salad']
# print the entire list 
print(food)
#print each item separately
print(food[0])
print(food[1])  
print(food[2])

['pizza', 'pasta', 'salad']
pizza
pasta
salad

In [3]:
#list with names
names = ['Alice', 'Bob', 'Charlie']
names[0] = "Hassan" #change the first name
print(names)

['Hassan', 'Bob', 'Charlie']

In [4]:
#list with 6 food
food = ['pizza', 'pasta', 'salad', 'burger', 'sushi', 'taco']
food.remove('sushi') #remove sushi from the list
print(food)

['pizza', 'pasta', 'salad', 'burger', 'taco']

In [ ]:
#list with 4 cities 
cities = ['New York', 'Los Angeles', 'Chicago', 'Houston']
cities.sort()   #sort the list in alphabetical order
print(cities) 
cities.reverse() #reverse the order of the list
print(cities)

['Chicago', 'Houston', 'Los Angeles', 'New York']
['New York', 'Los Angeles', 'Houston', 'Chicago']

In [8]:
#list with three animals 
animals = ['cat', 'dog', 'rabbit']
for animal in animals:  #loop through the list and print each animal
    print(animal)

cat
dog
rabbit

In [ ]:
# comprehension to multiply by 2
numbers = [x * 2 for x in range(1, 7)]
print(numbers)

[2, 4, 6, 8, 10, 12]

In [11]:
# use range to create a list of numbers from 1 to 10
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]